<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Dataviz.WinForms" version="2.2.1" targetFramework="net48" />
  <package id="Guna.Charts.WinForms" version="1.0.8" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
</packages>